@model  NetDemo.ViewModels.PersonViewModel
@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person</h2>
<div class="container-fluid">
    <div class="row layout-centered">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>
                        @Model.FirstName
                    </h4>
                    <small>
                        <cite title="San Francisco, USA">
                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </cite>
                    </small>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>email@example.com
                        <br />
                        <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                        <br />
                        <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                    </p>
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>
                        Current Trainings
                    </h4>
                    <h5>Dotnet Coreva</h5>
                    <small>
                        <cite title="San Francisco, USA">
                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </cite>
                    </small>
                    <h5>Dotnet Coreva</h5>
                    <small>
                        <cite title="San Francisco, USA">
                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </cite>
                    </small>
                    <h5>Dotnet Coreva</h5>
                    <small>
                        <cite title="San Francisco, USA">
                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </cite>
                    </small>
                    <h5>Dotnet Coreva</h5>
                    <small>
                        <cite title="San Francisco, USA">
                            San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                            </i>
                        </cite>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>


