
@{
    Layout = null;
    @Styles.Render("~/content/css")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verification</title>
</head>
<body style="background: #333333">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 layout-centered">
                <h3 class="sub-theme-color">Please check your email for the authentication link.. ;)</h3>
            </div>
        </div>
    </div>
</body>
</html>
